## Local configurations
# Virtual environments
.venv
env/
venv/

# Environment variables
.env


## Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


## Directories and files
node_modules
dist
dist-ssr
*.local


## Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.pylintrc


## Linters & Formaters
# Mypy
.mypy_cache

# Ruff
.ruff_cache/


## Storages
# Sqlite
*.sqlite3

# Databases dumps
dump.sql

# Volumes
data/


## Kubernetes configmaps
infra/configmaps.yaml


## Python stuff
# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage
.coverage.*

# Hypothesis
.hypothesis/

# Drafts
my.py
