# Puython stuff
# ---------------------------------------------------
__pycache__/


# Editors
# ---------------------------------------------------
.idea/
.vscode/
.mypy_cache/
.ruff_cache/


# Pstgresql
# ---------------------------------------------------
migrations/


# Env files
# ---------------------------------------------------
.env