/* ============ ADMIN PAGE STYLE MODULE  ============ */

.admin {
	width: 100%;
	min-height: calc(100vh - 2rem);
	padding-top: 13vh;
	text-align: center;
}

.admin__wrapper {
	width: 100%;
	min-height: calc(100vh - 2rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.adminTools {
	width: 25%;
	padding: 1rem 2rem;
	margin-bottom: auto;
	border: 1px solid #09C4BD;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	gap: 0.5rem;
}


.component__closed {
	opacity: 0.7;
}

.component__open {
	opacity: 1;
}

.toolComponent {
	padding: 0.2rem 0.5rem;
	border: 2px solid #09C4BD;
	border-radius: 5px;
	z-index: 2;
	transition: opacity 0.5s ease-in-out;
	cursor: pointer;
}

.toolComponent h2,
.toolComponent h3 {
	color: #09C4BD;
	text-align: center;
	cursor: pointer;
}

.toolComponent label {
	text-align: left;
}

.toolComponent label,
.toolComponent input,
.toolComponent select,
.toolComponent button {
	width: 100%;
	border: none;
}

.toolComponent button {
	background-color: #09C4BD;
}

.adminDesktop {
	width: 75%;
	min-height: calc(100vh - 2rem);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.adminData {
	width: 80%;
	border: 1px solid #09C4BD;
}

.adminData h2 {
	color: #09C4BD;
}

.adminData table {
	width: 100%;
	border-top: 1px solid #09C4BD;
}

.adminData table tr:nth-child(odd) {
	background-color: #363636;
}

.adminData table th:nth-child(odd) {
	width: 35%;
	text-align: left;
	padding: 0.25rem 1rem;
}

.adminData table th:nth-child(even) {
	width: 65%;
	text-align: right;
	padding: 0.25rem 1rem;
}