/* ============ ADMIN PAGE STYLE MODULE  ============ */

.admin {
	width: 100%;
	min-height: calc(100vh - 2rem);
	padding-top: 13vh;
	text-align: center;
}

.admin__wrapper {
	width: 100%;
	min-height: calc(100vh - 2rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.admin__tools {
	width: 25%;
	padding: 1rem 2rem;
	margin-bottom: auto;
	border: 1px solid #09C4BD;
}

.admin__tools h2 {
	color: #09C4BD;
	text-align: center;
}

.admin__tools label {
	text-align: left;
}

.admin__tools label,
.admin__tools input,
.admin__tools select,
.admin__tools button {
	width: 100%;
	border: none;
}

.admin__tools button {
	background-color: #09C4BD;
}

.adminDesktop {
	width: 75%;
	min-height: calc(100vh - 2rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.adminDesktop .admin__data {
	width: 80%;
	border: 1px solid #09C4BD;
}

.adminDesktop h2 {
	color: #09C4BD;
}

.adminDesktop table {
	width: 100%;
	border-top: 1px solid #09C4BD;
}

.adminDesktop table tr:nth-child(odd) {
	background-color: #363636;
}

.adminDesktop table th:nth-child(odd) {
	width: 35%;
	text-align: left;
	padding: 0.25rem 1rem;
}

.adminDesktop table th:nth-child(even) {
	width: 65%;
	text-align: right;
	padding: 0.25rem 1rem;
}