/* ============ HOME PAGE STYLE MODULE  ============ */

.home {
	width: 100%;
	min-height: 100vh;
	padding-bottom: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-image: url('../assets/home/home-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.home__img-wwrapper {
	position: relative;
	width: 100%;
	height: 80vh;
}

.home__img {
	width: 90%;
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.home__title-block {
	width: 100%;
	padding: 2rem 10%;
	background-color: #CDCDCD22;
	backdrop-filter: blur(24px);
	text-align: center;
}

.home__title {
	font-family: 'Lobster';
	font-size: 3rem;
}

.home__title>span {
	font-size: 3.4rem;
	text-transform: uppercase;
}

.home__subTitle {
	font-family: 'Lobster';
	font-size: 1.8rem;
}

.home__text {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: #CDCDCD22;
	backdrop-filter: blur(24px);
	border-radius: 0.5rem;
	font-family: 'Montserrat Alternates';
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.4;
	text-align: justify;
}

@media screen and (orientation: landscape) {
	.home__img {
		width: 40%;
	}
}

@media screen and (min-width: 1024px) {}