/* ============ MAIN STYLE MODULE  ============ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #242424;
	place-items: center;
	width: 100vw;
	min-height: 100vh;
	color: #DCDCDC;
	overflow-x: hidden;
}